/* Анимации проекта */

/* Анимация стрелки в меню */

@keyframes arrow-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

/* Анимации сердца */

.like-icon {
  cursor: pointer;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color);
}

/* Ховер на кнопке с иконкой */

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

/* Активное состояние (нажатие) */

.card__icon-button:active .like-icon .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

/* Состояние лайкнутой иконки */

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s ease-in 0.3s alternate;
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
