/* В этом файле хранятся все значения переменных */

:root {
  /* Шрифты */
  --main-font: "Inter Variable", sans-serif;
  --accent-font: "Press Start 2P", monospace;

  /* Вес шрифтов */
  --main-font-weight: 400;
  --title-font-weight: 700;

  /* Цвета */
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #000;
  --border-color: #000;
  --heart-color: #ff0000;
  --contour-color: #000;
  --label-stroke: #fff;

  /* Ширина секций */
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);

  /* Отступы */
  --header-padding-block: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
}
